
.firr{
    background-color: #081b29;
   
    border: 3px solid white;
}

.ex{
  /* height: 500px; */
}
.fir{
    /* background-color: red; */
}
.sec{
    /* background-color: green; */
}
p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    font-family:'Roboto';
  }
  .container {
    margin-top: -130px;
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
    
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#5fa361;
    border-radius: 10px;
    
  }
  .second div {
    background-color:#b38d42;
    border-radius: 10px;

  }
  .third div {
    background-color:#fc0835;
    border-radius: 10px;

  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  .hf{
    color: white;
    font-weight: 600;
    margin-top: -180px;
    padding-left: 10px;
    
  }
  .butn{
    color: black;
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 20px;
    font-weight: 700;
    margin: 10px;
    align-items: center;
  }
  .ami{
    position: absolute;
    height: 300px;
    width: 250px;
    margin-top: 45px;
    margin-left: -276px;
    border: 5px solid white;
    border-radius: 90px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
    
  }
 .backg{
  height: 350px;
  width: 300px;
  border-radius: 100px;
  position: relative;
  margin-top: 20px;
  margin-left: 25px;
 }
 .lin{
  height: 30px;
  width: 35px;
  border: 1px solid;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: skyblue;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  margin-top: 12px;
  margin-left: 23px;
  
 }